<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change password</title>
    </head>
    <body>

        <h1>Change password for user: <span th:text="${username}"></span></h1>

        <form action="#" th:action="@{/password/}+${username}" method="POST">
            <p><label for="password1">New password</label>: <input type="text" name="password1" id="password1"/></p>
            <p><label for="password2">Re-type password</label>: <input type="text" name="password2" id="password2"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p><p></p>

        <a th:href="@{/home}">Return to homepage.</a>

    </body>
</html>
